.cakerow{
    width: 200px;
    height: 300px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    display: inline-block;
    padding: 3px 10px 10px 4px;
    margin-left: 35px;
    margin-top: 10px;
}
.cakeimg{
    width: 200px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    
}
.special
{
    /* margin-left: 100px; */
    padding-left: 100px;
}
.cakecontainer h3
{
    padding-left: 36px;
padding-top: 12px;
font-size: 22px 
 
}
