<app-adminheader></app-adminheader>

<table class="table-content">
    <caption>CUSTOMER ORDER DETIALS</caption>
    <thead>
        <tr>
            <td>No.</td>
            <td>Customer Name</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Cake Flavour</td>
            <td>NO.of Cakes</td>
            <td>Address</td>
            <td>Ordered Date</td>
            <td>Total Amount</td>
            <td>Payment</td>
            <td>Status</td>
            <td>Process</td>
        </tr>
    </thead>

    <tbody *ngFor="let order of orders ; let i=index">
        <tr>
            <td>{{i+1}}</td>
            <td>{{order.name}}</td>
            <td>{{order.email}}</td>
            <td>{{order.mobileNo}}</td>
            <td>
                <ul>
                    <li *ngFor="let item of order.products">{{item.name}}</li>
                </ul></td>
                <td>{{getTotalQuantity(order.products)}}
                    </td>
            <td>{{order.address}}</td>
            <td>{{order.date|date:"dd-MM-yyyy"}}</td>
            <td>₹{{order.totalAmount}}.00</td>
            <td>{{order.payment}}</td>
            <td>{{order.status}}</td> 
            <td><button class="btn btn-success"(click)='update(order)' *ngIf="order.status!='CANCELLED'">Delivered</button></td>
            
            
        </tr>
    </tbody>
</table>

