
<header id="header"></header>
 <div class="login">
    <h1>welcome to login page</h1><br>
<form (ngSubmit)="Login()">
    <label for="email" >Email:</label>
    <input type="email"  name="email"id="email" [(ngModel)]="email"  placeholder="Enter The Email ID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

    <label for="password">Password:</label>
    <input type="password" name="password"id="password" [(ngModel)]="password" placeholder="Please Enter The Password" required >

    
    <button class="Submit" type="submit">Submit</button><br><br>
    
</form>
</div>

    <script src="Assest/js/jquery.min.js"></script>
    <script src="Assest/js/login.js"></script>
    

    <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$ -->