
<!-- <app-adminheader></app-adminheader> -->
<main>
    
    <section>
        <div class="addProductContainer">
          
            <h1>ADD YOUR CAKES</h1> <br> <br>
            
        <form (ngSubmit)="addProduct()">
            
            
            <label for="productName">Product Name</label>
            <input type="text" name="productName" [(ngModel)]="productName" id="productName"> <br>
            <label for="price">price</label>
            <input type="text" name="price" id="price" [(ngModel)]="price"> <br>
            <label for="image">Images</label>
            <input type="file" (change)="onFileUpload($event)"name="image" id="image" [(ngModel)]="imageUrl"> <br>
            <label>Select Category:</label>
                <select id="category" [(ngModel)] = "category" required name="category">
                    <option >Birthday</option>
                    <option >Anniversary</option>
                    <option >Wedding Cakes</option>
                    <option >Lovable One</option>
                </select> <br><br>
           
            <button class=" btn-primary"type="button" (click)='addProduct()'>Add Product</button>
        </form>
    </div>
    </section>
    
    
</main>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>