<link href='https://fonts.googleapis.com/css?family=The Girl Next Door' rel='stylesheet'>


<header>
 

<div class="navbar">
    <figure>
    
 <a href='home'><img src="assets/images/headercake.png" alt="img"></a><h1>DIVINE CAKES</h1>
</figure>

    
     <div class="navreg">

        <a (click)="logout()">Logout</a>
    
    </div>
    
   <ul class="navi">
    <li class="nav-item"><a routerLink='dashboard'>Dashboard</a></li>
    <li class="nav-item"><a routerLink='products'>Products</a></li>
    <li class="nav-item"><a routerLink='orders'>Orders</a></li>
    <li class="nav-item"><a routerLink='user'>User</a></li>
    </ul>
</div>
</header>