
<table border=1>

    <thead>
        <tr>
            <td>s.no</td>
            <td>image_url</td>
            <td>product Name</td>
            <td>price</td>
            <td>product Id</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody *ngFor='let cake of cakes; let i=index'>

        <tr>
            <td>{{i+1}}</td>

              <td><img src="assets/images/{{cake.imageUrl}}"  /></td>
              
              

            <td>{{cake.productName}}</td>
            <td>{{cake.price}}</td>
            <td>{{cake.id}}</td>
            <td><button (click)="delete(cake._id,cake._rev)">delete cakes</button></td>


        </tr>
    </tbody>
    <button type="button" routerLink='/addproducts'>add cakes</button>

</table>