<app-adminheader></app-adminheader>
<table class="table-content">
    <caption>ADD PRODUCTS</caption>

    <thead>
        <tr>
            <td>S.no</td>
            <td>Image</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody *ngFor='let cake of cakes; let i=index'>

        <tr>
            <td>{{i+1}}</td>

              <td><img src="assets/images/{{cake.imageUrl}}" alt="img" /></td>
              
              

            <td>{{cake.productName}}</td>
            <td>₹{{cake.price}}.00</td>
            <td>{{cake.quantity}}</td>
            <td><button class="btn btn-warning" type="button"><a routerLink='../edit/{{cake._id}}'>Edit</a></button></td>
            <td><button class="btn btn-danger" (click)="delete(cake._id,cake._rev)">Delete Cakes</button></td>


        </tr>
    </tbody>
    

</table>