<app-adminheader></app-adminheader>
<br><br><br><br><br>
<table datatable *ngIf="cakes">
    <caption appElementref>ADD PRODUCTS</caption>

    <thead>
        <tr>
            <td>S.no</td>
            <td>Image</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Edit</td>
            <td>Add Stocks</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody>

        <tr  *ngFor='let cake of cakes; let i=index'>
            <td>{{i+1}}</td>

              <td><img src="assets/images/{{cake.imageUrl}}" alt="img" /></td>
              
              

            <td>{{cake.productName}}</td>
            <td>₹{{cake.price}}.00</td>
            <td>{{cake.quantity}}</td>
            
            <td><button class="btn-warning"  type="button" ><a (click)="dialog()" routerLink='{{cake._id}}/edit'>Edit</a></button></td>
            <td><button class="btn-primary" type="button" ><a routerLink='{{cake._id}}/addstock'>Add Stock</a></button></td>
            <td><button  class="btn-danger" type="button" (click)="delete(cake._id,cake._rev)">Delete Cakes</button></td>
           


        </tr>
    </tbody>
    

</table>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>