<app-adminheader></app-adminheader>
<table class="table-content">
    <caption>USER DETAILS</caption>
    <thead>
        <tr>
            <td>s.no</td>
            <td>Customer Name</td>
            <td>Customer Email Id</td>
            <td>phoneNumber</td>
            <!-- <td>Delete</td> -->
            

        </tr>
    </thead>
    <tbody *ngIf="users">
        <tr *ngFor="let userObj of users ; let i=index">
            <td>{{i+1}}</td>
            <td>{{userObj.name}}</td>
            <td>{{userObj.email}}</td>
            <td>{{userObj.mobileNo}}</td>
            <!-- <td><button (click)="delete(userObj._id,userObj._rev)">Delete</button></td> -->
            
        </tr>

    </tbody>
</table>
