<app-adminheader></app-adminheader>
<div class='cake-container'>
    <h1 >Edit Cakes</h1> <br>


    <form [formGroup]="editForm" (ngSubmit)="edit()" *ngIf="product">


            <label for="productName">Product Name:</label>
            <input  type="text" formControlName="productName" name="productName" id="productName" 
            
                autocomplete="off">
    
            <label for="Price">Price:</label>
            <input  type="number"formControlName="price" name="Price" id="price"
                autocomplete="off">

          
            <div>     
                <label for="category">Category</label>         
                  <select name="category" id="category" multiple formControlName="category" >
                    <option value="Anniversary">Anniversary</option>
                    <option value="WeddingCakes">Wedding Cake</option>
                    <option value="Birthday">Birthday</option>
                    <option value="Lovable">Lovable</option>
                  </select>
                </div>


                <label  for="quantity">Quantity:</label>
            <input  type="number" formControlName = "quantity"name="quantity" id="quantity" 
            
                autocomplete="off">

            <div>
            <button type="submit" [disabled]="!editForm.valid">Update</button>

        </div>

    </form>
    