    <!-- <header id="header"></header> -->


    <section >
     <div class="RegisterContainer">  
            <h1>Please Register Your Details</h1><br>
        
    
        <form (ngSubmit)="register()">
            <div class="input">
                <label for="registerName" title="Name" >Name:</label>
                <input type="text" [(ngModel)]="registerName" required autocomplete="off" name="registerName" id="registerName" placeholder="Enter Your Name"><br>
            </div>  
            <div input="input"> 
                <label for="registerEmail" title="email">Email:</label>
                    <input type="email" [(ngModel)]="registerEmail" required autocomplete="off" id="registerEmail" name="registerEmail" placeholder="Enter Your Email ID"><br>
               </div>    
               <div class="input">           
                <label for="registerPassword" title="password">Password:</label>
                <input type="password" [(ngModel)]="registerPassword" required autocomplete="off" id="registerPassword" name="registerPassword" placeholder="Enter New Password"><br>
                
            </div>
            <div class="input">
                <label for="registerConfirm" title="confirm">Confirm Password:</label>
                <input type="password" required [(ngModel)]="registerConfirm" autocomplete="off" id="registerConfirm" name="registerPassword" placeholder="Enter The Password Again"><br>
                
            </div>
            <button type="submit">Register</button>
        </form>

</div>
        

    </section>

   
